/*  (Main Page)
    July 4,2017
Designed by Carlos Sanchez*/

/*Palete
#F9F7F7 almost white (backgrouncolor)
#DBE2EF gray
#3F72AF sky
#222831 black (Main color)
#00ADB5 letter color
*/

#wholepage {
    background-color: #222831 !important;
    color: #EEEEEE;
    transition: margin-left .5s;
    overflow-x: hidden;
    margin: 0;
    width: 100%;
    position: relative;
    /*font-family: 'Catamaran', sans-serif;*/
    font-weight: 400;
}

body{
  font-family: 'Open Sans', sans-serif;
}


/*Menu*/
.menu {
    text-align: center;
    background-color: #222831;
    color: #EEEEEE;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #222831;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover,
.offcanvas a:focus {
    color: #00ADB5;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/*Section Titles (Manipulates ContactMe and PORTFOLIO)*/
.display-1 {
    font-size: 3rem !important;
    font-weight: 400;
}

/*button to the top*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #393F4D;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    `
}

.summary,
.jumbotron {
    margin: 0;
}

.jumbotron {
    background-color: #222831;
    /* color: #00ADB5; */
}

/*Name and resume title*/
h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    text-align: center;
}

h2 {
    color: #F9F7F7;
}


.summary p {
    text-align: justify;
}

/*    PORTFOLIO SECTION     */

.Portfolio {
    padding-bottom: 8em !important;
}

.ProjectsTitle {
    text-align: center;
    font-size: 2em;
    padding: 2em;
}



/*      cards stylying        */



.card {
    border: #1f252d !important;
}

.col-md-4 {
    padding: 2em 1em 2em 1em;
}



.card-body {
    padding: 1em;
    /* color: #7a7e83; */
    font-weight: 500 !important;
    background-color: #262d38;
}

.card-title {
    font-weight: 600 !important;
    text-align: center;
    padding: 2em 0 0.5em 0;
    color: #F9F7F7;

}

.projectLink {
    text-align: center;

}

a {
    color: #222831;
    font-weight: 700;
}

a:hover {
    color: #00ADB5;


}

/*Form (Contact me*/


form {
    /* Just to center the form on the page */
    margin: 0 auto;
    /* To see the outline of the form */
    padding: 2em;
}

.background_footer {
    background-color: #222831;
    padding: 120px;
}


.btn {
    border: 1px solid transparent;
    border-radius: 7px;
    border-color: #00ADB5 !important;
    background-color: #00ADB5 !important;
    color: white;
    font-weight: 700;
}

.btn:hover {
    border-color: #00ADB5 !important;
    background-color: white !important;

    font-weight: 700;
    color: #00ADB5 !important;

}

/*Footer*/

contactme i {
    color: white;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
